* {
  border: none;
  border-radius: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 0;
  padding: 0;
}

window#waybar {
  background: rgba(28, 28, 28, 0.9);
  color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: gray;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  color: white;
}

#battery,
#bluetooth,
#clock,
#cpu,
#custom-scratchpad,
#custom-zypper,
#memory,
#mode,
#network,
#pulseaudio,
#tray,
#temperature {
  padding: 0 8px;
}

#custom-notification {
  padding: 0 12px;
}

#mode {
  color: white;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  background: #f53c3c;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
